:root{
  box-sizing: border-box;
  background: #048BA8;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
.site-wrap {
  max-width: 80vw;
  margin:2vh auto;
  background: white;
  padding: 40px;
  padding-top: 10px;
  text-align: left;
}
.list-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #1F487E;
}
.flex-item{
  border: 2px solid #78D5D7;
  width: 60vw;
  height: auto;
  text-align: center;
  margin: 20px 20px;
  padding: 20px;
}
.slide-in {
  opacity: 0;
  transition: all 0.7s;
  transition-timing-function: ease-out;
  transform: translateX(-70%) scale(0.95);
}
.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
