tml {
  box-sizing: border-box;
  background: #eeeeee;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 700px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.95);
  transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  font-family: 'Staatliches', cursive;

}

nav {
  background: black;
  top: 0;
  width: 100%;
  transition:all 1s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-family: 'Staatliches', cursive;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: max-width 1s;
  font-weight: 600;
  font-size: 2vw;
}

.fixed-nav li.logo {
  max-width: 500px;
  flex: 1;
}
li.logo a {
  color: black;
}
img{
  max-width: 40%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
  opacity: 0;
}
.align-left {
  float: left;
  margin-right: 20px;
}
.align-right {
  float: right;
  margin-left: 20px;
}
.slide-in {
  transition: all .5s;
}
.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}
.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}
