html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background: #30323D;
}
h1{
  font-size: 7vh;
  text-align: center;
  font-family: 'Monofett', cursive;
  color: #E8C547;
  margin: 5px auto;
}
.photobooth {
  background: #E8C547;
  max-width: 100vh;
  max-height: 100vh;
  margin: 2rem auto;
  border: 5px solid #E8C547;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 8px rgba(0,0,0,0.8);
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 100%;
  float: left;
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width:200px;
}
button{
  margin-bottom: 10px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 350%;;
  font-family: 'Monofett', cursive;
  color: black;
  background: #E8C547;
  border: 3px solid black;
  border-radius: 3px;
}
/*
.controls{
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}
.controls>*{
  max-width: 30vh;
  margin-top: 2rem;
  font-size: 200%;;
  font-family: monospace;
  color: black;
  background: #E8C547;
  border: 3px solid #E8C547;
  border-radius: 3px;
}
.rgb{
  font-size: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.rgb>*{
  text-align: center;
  flex-basis: 45%;
}
*/
/*
  Strip!
*/

.strip {
  padding: 2rem;
  background: #E8C547;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }
