html{
  background: #9FFFCB;
  font-family: 'Helvetica Neue';
  text-align: center;
  font-size: 1vw;
  margin: 0rem;
  padding: 0rem;
}
body{
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.clock{
  width: 30rem;
  height: 30rem;
  border: 1rem solid #F49E4C;
  border-radius: 50%;
  padding: 2rem;
}
.clock-face{
  position: relative;
  width: 100%;
  height: 100%;
}
.hand{
  width: 50%;
  background: #AA4465;
  position: absolute;
  top: 50%;
  margin-bottom: 0.2rem;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function:cubic-bezier(0.19, 2.83, 0.58, 1);
}
.second-hand{
  height: 0.15rem;
}
.hour-hand{
  height: 0.8rem;
}
.min-hand{
  height: 0.4rem;
}
